    <div class="footer-nav">
        <a class="icon-link2" href="https://www.instagram.com/"><i class="fa-brands fa-instagram"></i></a>
        <a class="icon-link2" href="https://www.facebook.com/"><i class="fa-brands fa-facebook-f"></i></a>
        <a class="icon-link2" href="https://x.com/"><i class="fa-brands fa-x-twitter"></i></a>
        <a class="icon-link2" href="https://www.linkedin.com/"><i class="fa-brands fa-linkedin"></i></a>
        </div>
    
</main>

</body>

</html>