<%- include("header.ejs") %>
    <% if(article) { %>
        <h2>
            <%=article["title"] %>
        </h2>
        <p>
            <%=article["htmlContent"] %>
        </p>
        <% } %>

            <a href="/edit-post">
                <button>Edit post</button>
            </a>

            <a href="/delete-post">
                <button>Delete post</button>
            </a>
<%- include("footer.ejs") %>