<%- include("partials/header.ejs") %>

<div id="confirmation">
    <div class="form-box">
        <h3 class="text-center page-title">Are you sure to delete this post?</h3>
        <textarea class="form-control" disabled><%=posts[index].htmlContent %></textarea>
        <p class="hint">Click OK or Cancel Button.</p>
        
        <div class="delete-box">
            <form action="/delete-post" method="post">
                <input class="btn btn-success" type="submit" value="OK"></input>
            </form>
            <button class="btn btn-secondary" onclick="cancel()" class="cancel">Cancel</button>
        </div>
    </div>
</div>

<script>
// function confirm() {
//   document.getElementById("confirmation").innerHTML = "Post successfully deleted!";
// }

function cancel() {
   document.getElementById("confirmation").innerHTML = "Deleting post was canceled!";
   document.getElementById("confirmation").style.color = '#red';

// stop for sometime if needed
setTimeout(myFunction, 2000);
}

function myFunction() {
    window.location.href = '/posts';
}
</script>



<%- include("partials/footer.ejs") %>