<%- include("partials/header.ejs") %>

<div id="confirmation">
    <h3>Are you sure to delete this post?</h3>
    <textarea disabled><%=posts[index].htmlContent %></textarea>
    <p>Click OK or Cancel Button.</p>
    
    <div class="">
        <form action="/delete-post" method="post">
            <input type="submit" value="OK"></input>
        </form>
        <button onclick="cancel()" class="cancel">Cancel</button>
    </div>
</div>

<script>
// function confirm() {
//   document.getElementById("confirmation").innerHTML = "Post successfully deleted!";
// }

function cancel() {
  document.getElementById("confirmation").innerHTML = "Deleting post was canceled!";

// stop for sometime if needed
setTimeout(myFunction, 2000);
}

function myFunction() {
    window.location.href = '/posts';
}
</script>



<%- include("partials/footer.ejs") %>