<%- include("partials/header.ejs") %>

<div>
    <div class="row box-frame">
        <div class="col-xxl-8 col-lg-6 col-sm-12 col-xs-12 text-box">
            <h1 class="author-name">Paweł Programista</h1>
            <p class="author-description">I am a dedicated IT enthusiast and blogger from Krakow, Poland</p>
            <br>
            <div class="contact-box">
                <a class="mail-link" href="/contact">@blogsite</a>
                <div>
                    <a class="icon-link" href="https://www.instagram.com/"><i class="fa-brands fa-instagram"></i></a>
                    <a class="icon-link" href="https://www.facebook.com/"><i class="fa-brands fa-facebook-f"></i></a>
                    <a class="icon-link" href="https://x.com/"><i class="fa-brands fa-x-twitter"></i></a>
                    <a class="icon-link" href="https://www.linkedin.com/"><i class="fa-brands fa-linkedin"></i></a>
                </div>
            </div>
        </div>

        <div class="col-xxl-4 col-lg-6 col-sm-12 col-xs-12 img-box">
            <img src="/images/profile.jpg" alt="profile.jpg" width="400vw">
        </div>

    </div>
</div>

</main>

</body>

</html>