<h1>Paweł Programista</h1>
<p>I am a dedicated IT enthusiast and blogger from Krakow, Poland</p>
<img src="/images/profile.jpg" alt="profile.jpg" width="200vw">

<a href="/contact">@blogsite</a>

<a href="https://www.instagram.com/">INSTAGRAM<i class="fa-brands fa-instagram"></i></a>
<a href="https://www.facebook.com/">FACEBOOK<i class="fa-brands fa-facebook-f"></i></a>
<a href="https://x.com/">X-TWITTER<i class="fa-brands fa-x-twitter"></i></a>
<a href="https://www.linkedin.com/">LINKEDIN<i class="fa-brands fa-linkedin"></i></a>

</main>

</body>

</html>