<%- include("partials/header.ejs") %>

<% console.log(article) %>

<% if(article) { %>
<% console.log(article.title); %>

<h2><%=article.title %></h2>

<p><%=article.htmlContent %></p>
<% } %>

<%- include("partials/footer.ejs") %>
